<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'login_page.css' %}">

    <title>Login</title>
</head>



<body>

    <div class="frame-3">

        <div class="group">

          <span class="log-into-your">
            Log into your 
          </span>

          <span class="account">
            account
          </span>
        </div>


        <div class="email">
          Email
        </div>

        <div class="line-1">
        </div>

        <div class="password">
          Password
        </div>

        <div class="line-2">
        </div>

        <div class="container">
            <span class="login">
                Login
            </span>
        </div>

        <div class="dont-have-an-account">
          Don’t have an account?
        </div>

        <span class="sign-up">
          SignUp
        </span>

      </div>

</body>



</html>