{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'sign_up.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <title>Signup</title>

</head>

<body class="wrapper">
    <div class="frame-3">

        <div class="group">
            <span class="create-an">Create an</span>
            <span class="account">account</span>

        </div>

        <!-- direct to a url for handling sign ups -->
        <form id="sign-up-form" method="post" action="{% url 'create_user' %}">

            {% csrf_token %}

            <div class="alert-message">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                         <p {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </p>

                        {% endfor %}

                    </ul>
                {% endif %}
                
            </div>

            <div class="form-group">
                <input type="text" name="username" class="email" placeholder="Username" value="{{ username }}" required>

            </div>

            <div class="form-group">
                <input type="email" name="email" class="email" placeholder="Email" value="{{ email }}" required>

            </div>

            <div class="form-group">
                <input type="password" name="password" class="password" id="password" placeholder="Password" required>
                <i class="fas fa-eye toggle-password" id="toggle-password"></i>

            </div>

            <button type="submit" class="sign-up-button">Sign Up</button>

        </form>


        <script>
            // Toggle password visibility
            document.getElementById('toggle-password').addEventListener('click', function() {
                var passwordField = document.getElementById('password');
                var passwordFieldType = passwordField.type === 'password' ? 'text' : 'password';
                passwordField.type = passwordFieldType;
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            });

            // Client-side form validation.
            document.getElementById('sign-up-form').addEventListener('submit', function(event) {
                var email = document.querySelector('.email').value;
                var password = document.querySelector('.password').value;

                if (!email || !password) {
                    event.preventDefault();
                    alert('Please fill out both fields.');
                }
            });
        </script>

        <div class="already-have-an-account">Already have an account?</div>

        <a href='{% url "login_page" %}' class="log-in">Log In</a>

    </div>
    
</body>

</html>